<div class="card">
    <div class="card-body">
        <div class="card-title">{{product.name}}</div>
        <div class="card-subtitle">No. {{product.number}}</div>
        <div class="tc-type" *ngIf="type === 'tc'">
            <i class="fab fa-cc-{{product.type}}"></i>
            <!-- <i class="fab fa-cc-visa"></i> -->
        </div>
        <div class="card-text">
        <div class="price text-right">
                <div class="title" *ngIf="type === 'CUENTAS'">Saldo actual</div>
            <div class="title" *ngIf="type !== 'CUENTAS'">Pago total</div>
            <div class="amount" [ngClass]="{'negative': product.amount < 0}">$ {{ product.amount  | number : '.2-5' }}</div>
        </div>
        </div>
    </div>
</div>